In [2]:
import json
import pandas as pd

In [3]:
filepath = '/Users/seeni-2328/Documents/Seeni/_zoho_products/sdp/datasets/Incident_Category/sdp-requests/results/1_2014_04_10_To_2015_06_14_39849/1_2014_04_10_To_2015_06_14_39849-VPN.json'
df = pd.read_json(filepath)

In [18]:
home_path = '/Users/seeni-2328/Documents/Seeni/_zoho_products/sdp/datasets/Incident_Category/sdp-requests/results/1_2014_04_10_To_2015_06_14_39849/'
%cd home_path
dd = !ls

[Errno 2] No such file or directory: 'home_path'
/Users/seeni-2328/Documents/Seeni/_zoho_products/sdp/datasets/Incident_Category/sdp-requests/results/1_2014_04_10_To_2015_06_14_39849

In [33]:
alldata = []
for file in dd :
    filepath = "{}/{}".format(home_path, file)
    alldata.append(pd.read_json(filepath))

In [35]:
df2 = pd.concat(alldata)
df2 = df2.reset_index(drop=True)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [38]:
df2 = df2.dropna()
df2 = df2.reset_index(drop=True)

In [39]:
df2.count()

CATEGORY          29155
CREATED_TIME      29155
DESCRIPTION       29155
ID                29155
KEYWORD           29155
REQUESTER_NAME    29155
SUBJECT           29155
SUB_CATEGORY      29155
TECHNICIAN        29155
dtype: int64

In [40]:
df2.dtypes

CATEGORY                  object
CREATED_TIME      datetime64[ns]
DESCRIPTION               object
ID                         int64
KEYWORD                   object
REQUESTER_NAME            object
SUBJECT                   object
SUB_CATEGORY              object
TECHNICIAN                object
dtype: object

In [46]:
output_file = "{}.csv".format(home_path[:-1])
print(output_file)
df2.to_csv(output_file, index=False)

/Users/seeni-2328/Documents/Seeni/_zoho_products/sdp/datasets/Incident_Category/sdp-requests/results/1_2014_04_10_To_2015_06_14_39849.csv

In [45]:
df2.head()

,CATEGORY,CREATED_TIME,DESCRIPTION,ID,KEYWORD,REQUESTER_NAME,SUBJECT,SUB_CATEGORY,TECHNICIAN
0,-,2015-05-08 19:10:57,Four candidates from Annna University are join...,1387292,"[need, estancia, developer machine, kinldy pla...",revathi.pk,Need 4 Machines @ Estancia,-,Deepak K
1,-,2015-01-22 11:28:26,"Chat and Group Email,Hi Team, While doing the ...",1328757,"[convention, respective email owner, email ali...",Kamala Kannan Subramani,Re: Standard team naming conventions in Connec...,-,Parthasarathy K
2,-,2014-05-14 14:52:00,"As discussed earlier, we are facing the below ...",1186244,"[push failure, abort http error, bad request, ...",Petchimuthu Nallakannu,Hg pull/push Failure in integ-toolsnew,-,Parthasarathy K
3,-,2014-04-10 12:45:43,We are using cgi-bin functionality in our ME s...,1170307,"[site server, cgi script usage, late version, ...",Kamala Kannan Subramani,Disable cgi-bin in ME site servers,-,Parthasarathy K
4,Alerts,2015-06-14 06:09:48,This is an auto generated e-mail triggered bec...,1403736,"[alert, application manager, zoho urls, auto, ...",sv2-appmanager,Alert from the Applications Manager - [ Zoho U...,-,Dhayanathi Vijayakumar